.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .main {
    flex: 1;
    overflow-y: auto;
    background: rgb(245, 247, 250);
  }

  .footer {
    border-top: 1px solid #d9dee2;
  }
}
