.swiper-container {
  .swiper-item {
    height: 30vh;
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

.settlement-container {
  border-top: 1px solid #d9dee2;
  height: 50px;
  box-sizing: border-box;
  padding: 6px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-container {
  padding: 8px;
  margin-bottom: 50px;
}

.popup-container {
  padding: 8px;
  position: relative;

  .icon-close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
}
