.button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .button-prefix {
    flex: none;
    padding-right: 12px;
  }

  .button-main {
    flex: auto;
    padding: 12px 0;
  }

  .button-arrow {
    flex: none;
    padding-left: 12px;
  }
}
